/* Detail.module.css */

.detailContainer {
    text-align: center;
    padding: 20px;
}

.paragraph {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.image {
    max-width: 20%;
    border-radius: 10px;
    margin: 20px 0;
}

.icons {
    font-size: 24px;
    margin-top: 10px;
}

.githubIcon {
    color: #000000;
    margin: 5px;
    /* Color personalizado */
}

.linkedinIcon {
    color: #0077b5;
    margin: 5px;
    /* Color de LinkedIn */
}

.home {
    color: #000000;
    margin: 5px;
    /* Color de teléfono */
}