.container {
	margin: auto;
	text-align: center;
	padding: 300px;
    background-image: url('../../imagen/fondo.jpg');
}

.titulo {
	font-size: 48px;
	color: #ffcf21;
	margin-bottom: 50px;
}

.boton {
    background-color: #b3962c;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.boton:hover {
	background-color: #ffc508;
}

.Link {
    color: rgb(255, 255, 255);
}